.leftSite {
  width: 15%;
  display: inline-block;
  position: fixed;
}

.movie {
  background-color: rgb(0, 40, 72);
  display: inline-block;
  height: 7vh;
  width: 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  letter-spacing: 3;
}

.logo {
  margin-top: 10px;
}

.list {
  background-color: rgb(46, 46, 46);
  height: 93vh;
  width: 100%;
  color: #fff;
  display: inline-block;
}

.selectDiv {
  cursor: pointer;
}

.dashIcon {
  color: #fff;
}

.rightSite {
  width: 85%;
  display: inline-block;
  margin-left: 15%;
}

.cinemaApp {
  background-color: rgb(46, 46, 46);
  width: 100%;
  height: 7vh;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  position: fixed;
}

.title {
  margin-left: 20px;
  margin-top: 10px;
}
