.viewUser {
  margin: 20px;
}

.searchUser {
  margin-top: 80px;
  margin-left: 50px;
  background-color: rgb(46, 46, 46);
  border: 1px solid #dddfe2;
  max-width: 27%;
  border-radius: 8px;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  width: 90%;
}

.searchUser > input {
  border: none;
  background-color: rgb(46, 46, 46);
  font-size: 1rem;
  color: #fff;
  outline: none;
  width: 90%;
  display: inline-block;
}

.iconSearch {
  color: #fff;
  display: inline-block;
}

.rowUser {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-right: 5%;
}

table {
  border: 2px solid white;
  width: 100%;
  height: auto;
  color: #fff;
}

th {
  border: 1px solid white;
  font-size: 20px;
  padding: 5px;
}

td {
  text-align: center;
}
